:root {
  font-family: "Nunito", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background: url("./tomatoWallpaper.png") center/cover no-repeat;

  /* filter: blur(2px); */
  transform: scale(1.05); /* evita bordas brancas */

  z-index: -1;
}

main{
  width: 100%;
  margin-top: 25px;
}

.principal-app {
  display: flex;
}

.principal-app > * {
  width: 50%;
}

.adicionarTarefa {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(235, 57, 66);
    width: 50px;
    height: 50px;
    border-radius: 1000px;
    color: #fff;
    font-size: 40px;
}