:root {
  font-family: "Nunito", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    #fdf2f8,
    #fff1f2,
    #fef2f2
  );
}

main{
  margin-top: 25px;
}

.principal-app {
  display: flex;
}

.principal-app > * {
  width: 50%;
}