.todoItem {
    list-style: none;
    padding: 12px 0;
    width: 100%;
}

.todoItem + .todoItem {
    border-top: 1px solid #ffeaec;
}

.completed .description {
    text-decoration: line-through;
    color: #8f8f8f;
}

.date {
    font-size: 12px;
    color: #881337;
    margin-bottom: 8px;
}

.details {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #881337;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
}

.checkbox:checked {
    background-color: #cf7c95;
}

.checkbox:checked::before {
    content: "✓";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 14px;
}

.description {
    flex: 1;
    margin: 0;
    word-break: break-word;
}

.actions {
    display: flex;
    gap: 8px;
}

.btn {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    opacity: .7;
}