.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header p {
    font-size: 1.25rem;
}
.titulo {
    font-size: 2.5rem;
    font-weight: 700;
}

.header h1{
    color: #881337;
    margin: 0;
}

.header p{
    color: rgb(236, 9, 85);
    margin: 0;
}