.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header p {
    font-size: 1.25rem;
}
.titulo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    background-color: #fff;
    height: 45px;
    padding: 15px 15px;
    text-align: center;
    border-radius: 50px;

    box-shadow: 0 4px 12px rgba(136, 19, 55, 0.12);
}

.header h1{
    color: #881337;
    margin: 0;
}

.header p{
    font-size: 1rem;
    background-color: rgb(235, 57, 66);
    color: white;
    margin: 0;
    padding: 5px 5px;
    border-radius: 50px;
}